*{
    margin: 0;
    box-sizing: border-box
        
}
body {
    background-color: whitesmoke;
        font-family: sans-serif;
        padding: 80px 20px 0 0;
}

.header{ 
    background-color: #D9C8B4 ;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.aside{
    background-color: #BAA79B;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 20px;
    width: 20%;
}
.contenido{
    background-color: #F0E6D4;
    position: fixed;
    top: 80px;
    left: 20%;
    right: 0;
    bottom: 20px;
    overflow: scroll;
    text-align: center
}
.footer{
    background-color: black;
    color: #5C524B;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
}
p{
    font-family: serif;
    padding: 20px 0;
    color: black;
    text-align: center
}

article p{
    color: black;
}
#novedades{
    padding: 20px 0;
    color: white;
    text-align: center
        
}
.imagenes{
    padding: 15px 0;
    text-align: center
}
.img{
    padding: 10px;
    margin-right: 10px; 
    margin-left:  10px;
}
.titulo{
    color: black
    
}

.textoCentrado{
  text-align: center;  
}

.textoDerecho{
    text-align: right
}

tbody tr:nth-child(odd){
    background-color: brown;
}
tbody tr:nth-child(even){
    background-color: #5C524B;
}

/*Comienza la definicion del menu*/

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;   
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 80px;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 8px;
}
.nav-menu-link:hover{
    background-color: #024070;
    font-size: 22px;
    transition: 0.5s;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}



